@import '../styles.scss';

:host {
  max-width: 375px;
  max-height: 812px;
}

.intro {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background: $fathom-primary-color;

  height: 100%;
  width: 100%;
}

.router-content {
  overflow: hidden;
}
