@import '../../styles.scss';

:host {
  padding: $fathom-padding;
  position: relative;
}

.postal-code-selector {
  overflow: hidden;
  margin-right: $fathom-padding * 4;
  width: calc(100% - #{$fathom-padding * 4});
}

.polution-level {
  position: absolute;
  top: $fathom-padding;
  right: $fathom-padding;
}

.timeline {
  width: 100%;
}

.mirror-icon {
  transform: scaleX(-1);
}

.past::ng-deep {
  & .mat-slider-track-fill,
  & .mat-slider-thumb,
  & .mat-slider-thumb-label {
    background: $fathom-card-background !important;
  }

  & .mat-slider-thumb-label-text {
    color: $fathom-foreground;
  }
}

.house {
  width: 80%;
}
