<div fxFlex fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-bar
    class="loading-bar"
    color="accent"
    [mode]="loading ? 'query' : 'determinate'"
    value="0"
    *ngIf="loading"
    @fadeInOut
  >
  </mat-progress-bar>
  <div
    class="polution-level"
    fxLayout="column"
    fxLayoutAlign="center center"
    matTooltip="Pollution"
    matTooltipPosition="before"
    *ngIf="!polution.disabled"
    [@slideScaleOpenClose]="{
      value: null,
      params: { size: '48px' }
    }"
  >
    <mat-icon color="warn">sentiment_very_dissatisfied</mat-icon>
    <mat-slider
      vertical
      thumbLabel
      min="0"
      max="200"
      [displayWith]="formatLabel"
      [formControl]="polution"
      (input)="polutionChanged($event)"
      [color]="polutionReduced ? 'accent' : 'warn'"
      tickInterval="auto"
      aria-label="Percent change in polution."
    ></mat-slider>
    <mat-icon color="accent">sentiment_very_satisfied</mat-icon>
  </div>
  <mat-form-field
    color="accent"
    class="postal-code-selector"
    appearance="outline"
    (focus)="clearPostalCodeError()"
    [ngStyle]="{ 'margin-right': polution.disabled ? 0 : null }"
  >
    <mat-label>Postal Code</mat-label>
    <input
      matInput
      [formControl]="postalCode"
      type="text"
      aria-label="Postal code selector."
    />
    <mat-icon matPrefix>home</mat-icon>
    <mat-error *ngIf="postalCode.invalid">{{
      getPostalCodeErrorMessage()
    }}</mat-error>
  </mat-form-field>
  <div fxFlex></div>
  <div class="water-level-display" fxLayoutAlign="center center">
    <img
      class="house"
      src="/assets/outsourced/low-poly-house/lowpoly-3494476_1920.png"
    />
    <div class="water">
      <section>
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
      </section>
      <div
        class="base-water"
        [ngStyle]="{
          height:
            postalCode.valid && !loading && !preloading
              ? 'calc(812px / 2 - 48px - ' +
                (locationData | async)?.elevation * pixelsPerMeter +
                'px + 20px'
              : 0
        }"
        fxLayoutAlign="center"
      >
        <span *ngIf="locationData | async as data">
          <span *ngIf="postalCode.valid && !loading && !preloading" @fadeInOut>
            <p class="elevation-info mat-body-strong">
              Elevation: {{ data.elevation | number: '1.0-2' }}m
            </p>
            <p class="sea-level-info mat-body-strong">
              Sea Level Increase: {{ data.seaLevel | number: '1.0-2' }}m
            </p>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div fxFlex></div>
  <div class="timeline">
    <div
      @fadeInOut
      *ngIf="!timeline.disabled"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <mat-icon class="mirror-icon">update</mat-icon>
      <mat-slider
        fxFlex
        thumbLabel
        [min]="timelineMin"
        [max]="timelineMax"
        [formControl]="timeline"
        (input)="timelineChanged($event)"
        [color]="polutionReduced ? 'accent' : 'warn'"
        [ngClass]="{ past: inThePast }"
        [tickInterval]="10"
        aria-label="Timeline slider."
      ></mat-slider>
      <mat-icon>update</mat-icon>
    </div>
  </div>
</div>
