// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fathom-primary: mat-palette($mat-deep-purple, 600, 500, 800);
$fathom-accent: mat-palette($mat-lime, 500, 50, 700);

// The warn palette is optional (defaults to red).
$fathom-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$fathom-theme: mat-dark-theme($fathom-primary, $fathom-accent, $fathom-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($fathom-theme);

/* You can add global styles to this file, and also import other style files */

$fathom-background: map-get($fathom-theme, background);
$fathom-card-background: mat-color($fathom-background, card);
$fathom-background: mat-color($fathom-background, background);

$fathom-primary: map-get($fathom-theme, primary);
$fathom-accent: map-get($fathom-theme, accent);
$fathom-warn: map-get($fathom-theme, warn);

$fathom-primary-color: mat-color($fathom-primary);
$fathom-primary-text-color: mat-color($fathom-primary, default-contrast);

$fathom-foreground: map-get($fathom-theme, foreground);
$fathom-foreground: mat-color($fathom-foreground, text);

$fathom-padding: 16px;

$fathom-app-height: 812px;
$fathom-app-width: 375px;

html,
body {
  // Needed to make a clean entrance if long loads.
  display: initial;

  height: 100%;
  // background: linear-gradient($fathom-primary-color, #3e699f);
  color: $fathom-foreground;
  // background: #141617;
  background: #1a1b1c;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  display: block;
  box-sizing: border-box;
  padding-top: calc(50vh - #{$fathom-app-height} / 2);
  padding-bottom: calc(50vh - #{$fathom-app-height} / 2);
  padding-left: calc(50vw - #{$fathom-app-width} / 2);
  padding-right: calc(50vw - #{$fathom-app-width} / 2);
  min-height: $fathom-app-height;
  min-width: $fathom-app-width;
}

.screen-size-notice {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

app-root {
  background: linear-gradient($fathom-primary-color, #3e699f);
  height: 100%;
  width: 100%;
  display: block;
  border-radius: $fathom-padding * 2;
  overflow: hidden;
  transition: border-radius 0.2s ease-in-out;
  position: relative;

  @media screen and (max-width: $fathom-app-width) {
    border-radius: 0px;
  }
}

router-outlet + * {
  flex: 1 1 auto;
}

.loader {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $fathom-primary-color;
  color: $fathom-primary-text-color;

  &[finished] {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }

  & > svg #crack {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  &[loaded] > svg #crack {
    opacity: 0;
  }
}

.logo {
  width: $fathom-padding * 8;
}

@keyframes logo-crack {
  to {
    stroke-dashoffset: 0;
  }
}
